CT_CONFIG_VERSION="3"
# CT_PREFIX_DIR_RO is not set
CT_ARCH_XTENSA=y
CT_XTENSA_CUSTOM=y
CT_OVERLAY_SRC_URL="https://github.com/jcmvbkbc/xtensa-toolchain-build/raw/0973881b9ca1712dc9044d8e00feea7c1b6ca221/overlays/xtensa_dsp3400.tar.gz"
CT_OVERLAY_VERSION="dsp3400"
# CT_ARCH_USE_MMU is not set
CT_TARGET_CFLAGS="-mlongcalls -mtext-section-literals"
CT_STATIC_TOOLCHAIN=y
CT_TARGET_VENDOR="dsp3400"
CT_LIBC_NONE=y
# CT_CC_GCC_CONFIG_TLS is not set
CT_GMP_V_6_1=y
CT_ISL_V_0_18=y
